<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="at.tuwien.dsg"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk android:minSdkVersion="7" />
      
    <application 	android:icon="@drawable/icon" 
    				android:label="@string/app_name">
    				
    	<provider android:name="RequestProvider"
            android:authorities="at.tuwien.dsg.provider.RequestProvider"
            android:exported="false">
            <grant-uri-permission android:pathPattern=".*" />
        </provider>
        
        <activity android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:launchMode="singleInstance" android:name=".activities.HomeActivity">
            
            
            <intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="T4JOAuth" android:host="main" />
			</intent-filter>
            
        </activity>
        <activity android:name=".activities.TweetflowActivity"
        		  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar">    
                  
                  <intent-filter>
	                <action android:name="android.intent.action.MAIN" />
	                <category android:name="android.intent.category.LAUNCHER" />
	            </intent-filter>         
        </activity>
        <activity android:name=".activities.Login"
        		  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar">             
        </activity>
        <activity android:name=".activities.LoginActivity"
        		  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar">             
        </activity>
        <activity android:name=".activities.OAuthActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="bloa-app" android:host="twitt" />
			</intent-filter>
        </activity>
        <activity android:name=".activities.InfoActivity"
        		  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar">             
        </activity>
        <activity android:name=".activities.SearchActivity"
        		  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar">             
        </activity>
        <activity android:name=".activities.TestActivity"></activity>
    </application>
</manifest> 
